@model IEnumerable<PasswordManager.Models.Pins>

@{
    ViewBag.Title = "List";
}

<h2>List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Created Date
        </th>
        <th>
            Updated Date
        </th>
        <th>
            Account
        </th>
        <th>
            Pin
        </th>
        <th>
            Length
        </th>
        <th>
            Generated
        </th>
        <th>
            Status
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpdatedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Accounts.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Length)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Generated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.SysId }) |
            @Html.ActionLink("Details", "Details", new { id = item.SysId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.SysId })
        </td>
    </tr>
}

</table>
