@model PasswordManager.Models.Accounts

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Accounts</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Created Date
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>

        <dt>
            Updated Date
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdatedDate)
        </dd>

        <dt>
            Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            Category
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Categories.Name)
        </dd>

        <dt>
            Website
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Websites.Name)
        </dd>

        <dt>
            User
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Users.Name)
        </dd>

        <dt>
            Email
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Emails.EmailAddress)
        </dd>

        <dt>
            Phone
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phones.Number)
        </dd>

        <dt>
            Security Type
        </dt>

        <dd>
            @Model.SecurityType.ToString()
        </dd>

        <dt>
            Comments
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comments)
        </dd>

        <dt>
            Closed
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Closed)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SysId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
